# Firebase / Google Cloud
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Midtrans
MIDTRANS_MERCHANT_ID=
MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=

# Admin Security
ADMIN_SECRET_KEY=
JWT_SECRET=

# App
APP_URL=http://localhost:3000
